include README.rst
include CHANGES.rst

include ez_setup.py
include ah_bootstrap.py
include setup.cfg
include quickspec/tests/coveragerc

recursive-include quickspec *.pyx *.c *.pxd
recursive-include docs *
recursive-include licenses *
recursive-include cextern *
recursive-include scripts *

# include the CIB resources

# Lagache, Dole, Puget (2004)
include quickspec/cib/data/LDP_2004/create_counts_2097_Omega_lambda.cold.save
include quickspec/cib/data/LDP_2004/create_counts_2097_Omega_lambda.save
include quickspec/cib/data/LDP_2004/create_counts_1380_Omega_lambda.cold.save
include quickspec/cib/data/LDP_2004/create_counts_1380_Omega_lambda.save
include quickspec/cib/data/LDP_2004/create_counts_850_Omega_lambda.cold.save
include quickspec/cib/data/LDP_2004/create_counts_850_Omega_lambda.save
include quickspec/cib/data/LDP_2004/create_counts_550_Omega_lambda.cold.save
include quickspec/cib/data/LDP_2004/create_counts_550_Omega_lambda.save
include quickspec/cib/data/LDP_2004/create_counts_350_Omega_lambda.cold.save
include quickspec/cib/data/LDP_2004/create_counts_350_Omega_lambda.save
include quickspec/cib/data/LDP_2004/create_counts_250_Omega_lambda.cold.save
include quickspec/cib/data/LDP_2004/create_counts_250_Omega_lambda.save

# Bethermin (2011)
include quickspec/cib/data/Bethermin_2011_jbar/j_z_217GHz.dat
include quickspec/cib/data/Bethermin_2011_jbar/j_z_353GHz.dat
include quickspec/cib/data/Bethermin_2011_jbar/j_z_545GHz.dat
include quickspec/cib/data/Bethermin_2011_jbar/j_z_857GHz.dat

prune build
prune docs/_build
prune docs/api


# the next few stanzas are for astropy_helpers.  It's derived from the
# astropy_helpers/MANIFEST.in, but requires additional includes for the actual
# package directory and egg-info.

include astropy_helpers/README.rst
include astropy_helpers/CHANGES.rst
include astropy_helpers/LICENSE.rst
recursive-include astropy_helpers/licenses *

include astropy_helpers/ez_setup.py
include astropy_helpers/ah_bootstrap.py

recursive-include astropy_helpers/astropy_helpers *.py *.pyx *.c *.h *.rst
recursive-include astropy_helpers/astropy_helpers.egg-info *
# include the sphinx stuff with "*" because there are css/html/rst/etc.
recursive-include astropy_helpers/astropy_helpers/sphinx *

prune astropy_helpers/build
prune astropy_helpers/astropy_helpers/tests


global-exclude *.pyc *.o
